:root{
    --main-bg-color: #eee;
    --main-details-color:#312B80;
    --main-font-color:#312B80;
    --main-section-color: #fff;
}

body{
    background-color:var(--main-bg-color);
}
body > .navbar-container + .index-container {
    
    padding: 0.5% 5.5%;
}

body > .contact-container{ 
    margin-top: 30px;
padding: 0.5% 5.5%;
 background-color:#efefef ;
}
/* nav */

.navbar__img-container{
    background-color: var(--main-bg-color) ;
    height: 70px;
    width: 100%;
    padding-top: 0.5%;
    display: flex;
    align-items: center;
}
.navbar__img{
   height: 70px;
   width: 25%;
    background-image: url(/resources/001.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.navbar__list{
    display: flex;
    justify-content: space-between;
 margin-top: 20px;   

}
.navbar__list-button{
    padding: 0.5% 0%;
    height: 20%;
    width: 20%;
    text-align: center;
    color:var(--main-font-color);
}
.navbar__list-button>a{
   text-decoration: none;
}

/* index */
.index__main-picture-container{
    background-color:var(--main-section-color);
    
}
.index__main-picture{
    align-self: center;
    margin-top: 15px;
    margin-left: 15%;
    width: 70%;
    height: 350px;
    background-image: url(/resources/005.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
}

.index__boxes-list{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.boxes__list-item{
    height: 120px;
    width: 20%;
    word-wrap: break-word;
    text-align: center;
    line-height: 120px;
}
.boxes__list-item:nth-child(2n-1){
    background-color:#8783CC;
}
.boxes__list-item:nth-child(2n){
    background-color:#635F95;
}

.index__news-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.index__news-item-box{
    width: 19.5%;
}
.news__item-img{
    border-radius: 3px 3px 0px 0px ;
    background: url(/resources/piron-guillaume-U4FyCp3-KzY-unsplash.jpg);
    background-size:350px;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 200px;
    width: 100%;
    
}
.news__item-caption{
    background-color: #fefe;
    box-shadow: 5px 2px 8px #ccc;
    border-radius: 0px 0px 3px 3px;
    height: 125px;
    display: flex;
    
}

.caption{
    padding: 5%;
    width: 90%;
    font-weight:bold;
}
/* Contacto */

.contact-container{
    margin-top: 0px;
    padding: 1.5%;
}
.contact-box-list{
    display: flex;
    justify-content: space-between;
}

.list__info{
    width: 50%;
}

.list__info>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   height: 100%;
   align-items:center;
text-align: center;
}

/* Footer */

.footer-container{
    margin-top: 30px;
    padding: 2.5% 5.5%;
    background-color: var(--main-details-color);
    color:var(--main-section-color)
}

.footer__arqtree-container + .footer__social-media{
   padding: 2% 0%;

}
.arqtree__list  {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:flex-start;
    text-align: center;
}

.arqtree__list-items > li {
    padding: 10px;
}
.arqtree__list-items{
   
}
/*  */
.footer__social-media{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer__social-media-logos{
    display: flex;
    justify-content:center ; 
    width: 33.3%;
}
.logos__list{
    height: 100%;
    width: 33.3%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.logos__list>li{
    padding-right: 15px;
}
.footer-social-media__main-logo{
    width: 33.3%;
    display: flex; 
    justify-content: center;
}
.main-logo__img{
    padding-top: 4%;
    height: 70px;
    width: 70%;
    background-image: url(/resources/footer-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__contact-info{
    width: 33.3%;
}
.contact-info__list{
    text-align: center;
    padding-left: 60px;
}
